body{
    background-color: rgb(205, 204, 204);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,110px);
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "content content slidebar"
    "content content slidebar"
    "content content slidebar"
    "content content slidebar"
    "content content slidebar"
    "footer footer footer";
}
header{
    display: flex;
    grid-area: header;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
#links{
    background-color: rgba(165, 165, 165, 0.477);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 85%;
    height: 70px;
}
#l{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#content{
    grid-area: content;
    background-color: rgba(165, 165, 165, 0.477);
    margin: 0 30px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#img{
    width: 400px;
    height: 550px;
    border-radius: 20px;
    
}
p{
    width: 450px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
#slidebar{
    grid-area: slidebar;
    background-color: rgba(165, 165, 165, 0.477);
    margin-right: 30px;
}
h3{
    margin: 30px;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    background-color: rgba(165, 165, 165, 0.477);
}
h5{
    font-size: medium;
    font-weight: bold;
    margin: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sm{
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
}
#sm-logo{
    margin: 20px 30px;
    border-radius: 20px;
    width: 90px;
}
#sm-d{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sm-l{
    margin: 0 45px;
    color: darkblue;
}
#slidebar2{
    display: flex;
    flex-direction:row;
}
#cat{
    border-radius: 10px;
}
@media (max-width: 1475px){
    body{
        display: flex;
        flex-direction: column;
    }
#slidebar2{
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width: 965px){
    #content{
        display: flex;
        flex-direction: column;
    }
    #img{
        width: 100%;
    }
    
}