body{
    margin: 0 70px;
    padding: 0px;
    font-family:DM Sans;
}
header{
    display:flex;
    flex-direction: row;
    padding: 20px 6px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
#header-logo img{
    width:115px;
    height: 29px;  
}
nav{
    display:flex;
    font-weight: 500;
    gap: 20px;
}
#h-links{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
#b1{
    color: #1A7BFF;
    border-color: #1A7BFF;
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
#b2{
    color: #ffffff;
    border-color:#1A7BFF;
    background-color:#1A7BFF;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
#part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#p1{
    width: 232px;
    height: 26px;
    top: 256px;
    left: 120px;
    font-weight: 500;
    font-size: 20px;
    color: #1A7BFF;
}
#h11{
    width: 389px;
    height: 124px;
    top: 292px;
    left: 120px;
    font-weight: 700;
    font-size: 48px;
    color: #020113;
}
#p2{
    width: 400px;
    height: 42px;
    top: 434px;
    left: 120px;
    font-weight: 500;
    font-size: 16px;
    color: #B6B6B6;
}
#b3{
    width: 132px;
    height: 36px;
    top: 518px;
    left: 120px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #1A7BFF;
    background-color: #1A7BFF;
}
#img1{
    width: 729px;
    height: 582px;
    top: 110px;
    left: 619px;
}
#part2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img2{
    width: 1200px;
    height: 56px;
    top: 754;
    left: 120px;
}
#part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
#p3{
    width: 200px;
    height: 26px;
    top: 1010px;
    left: 660px;
    font-weight: 500;
    font-size: 20px;
    color: #1A7BFF;
}
#h12{
    width: 591px;
    height: 47px;
    top: 1046px;
    left: 425px;
    font-weight: 700;
    font-size: 36px;
    color: #020113;
}
#p4{
    width: 706px;
    height: 42px;
    top: 1111px;
    left: 367px;
    font-weight: 500;
    font-size: 16px;
    color: #B6B6B6;
}
#part4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}
#div1-p4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #1F1F1F;
    border-width: 1px;
    width: 370px;
    height: 382px;
    top: 1227px;
    left: 120px;
    border-radius: 15px;
}
#div3-p4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #1F1F1F;
    border-width: 1px;
    width: 370px;
    height: 382px;
    top: 1227px;
    left: 120px;
    border-radius: 15px;
}
#img31{
    border-color: #1A7BFF;
    background-color: #1A7BFF;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    top: 1291px;
    left: 276px;
    object-fit:scale-down;
}
#h31{
    width: 48px;
    height: 31px;
    top: 1388px;
    left: 277px;
    font-weight: 700;
    font-size: 24px;
    color: #020113;
}
#p5{
    width: 319px;
    height: 84px;
    top: 1442px;
    left: 141px;
    font-weight: 500;
    font-size: 16px;
    color: #020113;
}
#b4{
    border-color: #020113;
    border-radius: 50%;
    background-color: #ffffff;
    color: #020113;
    width: 32px;
    height: 32px;
    font-weight: bold;
}
#div2-p4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #1A7BFF;
    background-color: #1A7BFF;
    border-radius: 15px;
    width: 370px;
    height: 382px;
    top: 1227px;
    left: 535px;
}
#img32{
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    top: 1291px;
    left: 276px;
    object-fit:scale-down;
}
#h32{
    width: 117px;
    height: 31px;
    top: 1388px;
    left: 662px;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}
#p6{
    width: 319px;
    height: 84px;
    top: 1442px;
    left: 560px;
    font-weight: 500;
    font-size: 16px;
    color:#FFFFFF;
}
#b5{
    border-color:#1A7BFF;
    border-radius: 50%;
    background-color: #ffffff;
    color:#1A7BFF;
    width: 32px;
    height: 32px;
    font-weight: bold;
}
#part5{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img4{
    width: 750px;
    height: 469px;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
}
#part6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 150px 0;
}
#p7{
    width: 198px;
    height: 26px;
    top: 1010px;
    left: 660px;
    font-weight: 500;
    font-size: 20px;
    color: #1A7BFF;
}
#h13{
    width: 472px;
    height: 94px;
    top: 1388px;
    left: 277px;
    font-weight: 700;
    font-size: 24px;
    color: #020113;
}
#p8{
    width: 590px;
    height: 42px;
    top: 1111px;
    left: 367px;
    font-weight: 500;
    font-size: 16px;
    color: #B6B6B6;
}
#div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 477px;
    height: 112px;
}
#d{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
#h4{
    margin: 2px;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
#p9{
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #B6B6B6;

}
#img6{
    width: 494.08868408203125px;
    height: 575.98681640625px;
    border-radius: 10px;
}
#part7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
}
#d1{
    display: flex;
    flex-direction: column;
}
#img7{
    width: 115px;
    height: 29px;
}
#p10{
    width: 380px;
    height: 84px;
    font-weight: 500;
    font-size: 16px;
}
#img8{
    width: 24px;
    height: 24px;
    margin-right:10px;
}
#h33{
    width: 100px;
    height: 31px;
    font-size: 24px;
    font-weight: 700
}
#d3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#d4{
    display: flex;
    flex-direction: column;
    align-items: left;
}
footer{
    text-align: center;
    border-top: 1px solid #000000;
    padding: 30px;
}

